./*.exe
*.exe
/.vscode
.exe
.out

*.exe
*.out

*.o


# Ignore the .vscode folder
.vscode/

# Ignore tasks .json files inside .vscode
.vscode/*.json

# All executables inside the C++ folder.

C++/**/*.exe
C++/**/*.out


# All .vscode files in subfolders
./**/.vscode


